*{
	margin:0;
	padding: 0;
}

.noidung {
    background: lightblue;
    padding: 60px 201px;
    width: 21%;
    margin: auto;
    margin-top: 100px;
}

.noidung:hover .anhdemo {
    transform: translateX(300px) scale(0.5);  // viết nhiều thuộc tính thì để trên 1 dòng và cách nau bằn dấu cách
    transform-origin: 50% 50%;
}

img.anhdemo {
    width: 401px;
     transition: 2.8s;
     transition-delay: 1s; // chạm vào 1 s nó mưới chạy
      transition-timing-function: cubic-bezier(1, -0.61, 1, 0.01);  // gia tốc
}